/bin
/games
/elpy
.depend
network-security.data
anaconda-mode/
.wg-file.el
/url/cache
/auto-save-list
/old
/data
/var
/session.*
/custom.el
/features.el
/.cache/
/eln-cache/
*.elc
CVS
.svn
*_flymake.el
*~
*.log
.yas-compiled-snippets.el
.bookmarks.el
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
/elpa
/elpa-stable
eshell/
semanticdb/
*.swp
*~
abbrev_defs
/swank
/swank
/.mc-lists.el
TAGS
GTAGS
GPATH
GRTAGS
.emacs.d/emms/
tutorial/
org-clock-save.el
.\#*
projectile-bookmarks.eld
history
recentf
places
ido.last
projectile.cache
.orig
.unpacked
/irony
private.el
/emojis
/private/*
!/private/sdcv/
# /gnus.el
