*.elc
*.log
*.swp
*_flymake.el
*~
*~
.*.lock
.\#*
.bookmarks.el
.cvsignore
.depend
.dir-locals.el
.svn
.yas-compiled-snippets.el
/.cache
/TODO
/auto-save-list
/bin
/custom.el
/data
/eln-cache/
/elpa
/elpa-stable
/elpy
/emms
/features.el
/games
/home
/newsticker
/private/*
/session.*
/tramp
/var
CVS
GPATH
GRTAGS
GTAGS
TAGS
\#*
__pycache__/