::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    background-color: #040404;
}

::-webkit-scrollbar-track {
    background: #f8f8f8;
}

::-webkit-scrollbar-thumb {
    background: #040404;
}

::-webkit-scrollbar-corner {
    background: #82AFFF;
}

::-webkit-scrollbar-resizer {
    background: #040404;
}

pre.src {
    background: #1b1d1e;
    color: white;
}

colgroup {
    border: 2px solid;
}

tbody {
    border-top: 2px solid;
}

@media screen and (min-width: 1250px){
    #table-of-contents {
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
        width: 300px;
    }

    #postamble {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 300px;
        height: 100px;
        margin: 0;
    }

    #table-of-contents>h2 {
        padding-left: 15px;
        height: 40px;
        max-height: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #text-table-of-contents {
        /* border: 1px dashed gray; */
        overflow-y: auto;
        height: calc(100% - 200px);
        padding-top: 15px;
        padding-bottom: 15px;
    }

    body {
        margin-left: 320px;
    }
}

@media screen and (min-width: 1350px){
    #table-of-contents {
        width: 400px;
    }

    #postamble {
        width: 400px;
    }

    body {
        margin-left: 420px;
    }
}

@media screen and (min-width: 1450px){
    #table-of-contents {
        width: 500px;
    }

    #postamble {
        width: 500px;
    }

    body {
        margin-left: 520px;
    }
}
